<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" th:content="${@module.get('sysConfig').SITE_KWD}">
		<meta name="description" th:content="${@module.get('sysConfig').SITE_DESC}">
	</head>
	<body>
	<h2>Thymeleaf基本用法</h2>
	<h3>赋值</h3>
	<h3 th:text="${mao}">lyl</h3>
	<h3>拼接</h3>
	<span th:text="'thymeleaf普通拼接'+${maoName}"></span>
	<span th:text="|thymeleaf简洁拼接 ${maoName}|"></span>
	<h3>if判断</h3>
	true:<a th:if="${laomao=='laomao'}" th:href="@{http://www.baidu.com}">if</a>
	false:<a th:if="${laomao=='zhongmao'}" th:href="@{http://www.jd.com}"></a>
	<h3>unless判断</h3>
	true:<a th:unless="${laomao=='laomao'}" th:href="@{http://www.baidu.com}"></a>
	false:<a th:unless="${laomao!='laomao'}" th:href="@{http://www.jd.com}">unless</a>
	<h3>for 循环</h3>
	<table>
	<tr th:each="user:${userList}">
		id<td th:text="${user.userId}"></td>
		用户名<td th:text="${user.username}"></td>
		密码<td th:text="${user.password}"></td>
		性别<td th:text="${user.sex}"></td>
		年龄<td th:text="${user.age}"></td>
	</tr>
	</table>
	<!--URL 最后的(url=${url})表示将括号内的内容作为 URL 参数处理，该语法避免使用字符串拼接，大大提高了可读性-->
	<h3>URL</h3>
		<a th:href="@{https://www.laomao/{url} (url=${url})}">点击测试</a>
	<h3>三目运算</h3>
	<input th:value="${number gt 2 ? '值大于2':'值小于等于2'}">
	<!--gt：great than（大于） ge：great equal（大于等于） eq：equal（等于） lt：less than（小于） le：less equal（小于等于） ne：not equal（不等于）-->
	<h3>switch选择</h3>
	<div th:switch="${switch}">
		<p th:case="0">switch为0</p>
		<p th:case="1">switch为1</p>
		<p th:case="*">未知</p>
	</div>
	</body>

</html>