<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">介绍</li>
    </ol>
</section>

<section class="content" >
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">老毛的自媒体新闻后台发布系统</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
                <div style="padding: 10px 0 20px 10px;">
                    <h3>&nbsp;&nbsp;&nbsp;开发环境</h3>
                    <ul>
                        <li>IDE：IntelliJ IDEA 2017+ </li>
                        <li>DB：mysql 5.6</li>
                        <li>MAVEN：Maven 3.3.9</li>
                        <li>JDK：JDK1.8 Tomcat：Tomcat8.5</li>
                        <li>OS：Window10，Linux</li>
                    </ul>
                    <h3>&nbsp;&nbsp;&nbsp;技术介绍</h3>
                    <ul>
                        <li>核心框架：SpringBoot&nbsp;&nbsp;持久层框架：Mybatis</li>
                        <li>视图框架：SpringMvc&nbsp;&nbsp;安全框架：Apache Shiro </li>
                        <li>JS框架：JQuery &nbsp;&nbsp;UI框架：BootStrap </li>
                        <li>模板引擎：Thymeleaf  &nbsp;&nbsp;NoSql缓存：redis </li>
                    </ul>
                    <h3>&nbsp;&nbsp;&nbsp;功能实现</h3>
                    <ul>
                        <li>权限管理模块</li>
                        <li>文章管理模块</li>
                        <li>网站管理模块</li>
                        <li>日志管理模块</li>
                        <li>服务端用户模块</li>
                        <li>客户端用户模块</li>
                    </ul>
        </div>
    </div>
</section>

