<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" th:content="${@module.get('sysConfig').SITE_KWD}">
    <meta name="description" th:content="${@module.get('sysConfig').SITE_DESC}">
    <title th:text="${@module.get('sysConfig').SITE_NAME}"></title>
    <link rel="stylesheet" th:href="@{/libs/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/libs/swiper/css/swiper.min.css}"/>
    <link rel="stylesheet" th:href="@{/libs/font-icon/icon.css}"/>
    <link rel="stylesheet" th:href="@{/libs/theme/laomao/css/web-common.css}"/>
    <link rel="stylesheet" th:href="@{/libs/theme/laomao/css/web-news.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/libs/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/libs/swiper/js/swiper.min.js}"></script>
    <script th:src="@{/js/hc-sticky.js}"></script>
    <script th:src="@{/libs/theme/laomao/js/news.js}"></script>
    <script th:src="@{/libs/layer/layer.js}"></script>
    <script th:src="@{/libs/iCheck/icheck.min.js}"></script>
    <script th:src="@{/libs/validate/validate.js}"></script>
</head>
<body>
<header id="header">
    <div th:replace="home/fragments/navbar :: navbar"></div>
</header>
<div class="no-article-content" th:if="${#lists.isEmpty(noticeList)}">
    Sorry, 暂未发现任何文章~
</div>

<div class="zb-container zb-content">
    <div class="zb-main">
        <div th:each="item,temp : ${noticeList}"  class="blogs">
        <span th:if="${item.top==1}" class="fa fa-superscript-top superscript superscript-top"></span>
            <span class="blogpic"><a><img th:src="@{/img/notify.jpg}" ></span>
            <h3 class="blogtitle"><a th:text="${item.title}"></a></h3>
            <p th:text="${item.content}" class="blogtext"></p>
            <div class="bloginfo">
                <ul>
                    <li><span class="fa fa-clock-o"></span><span
                            th:text="${item.time}"></span></li>
                </ul>&nbsp;&nbsp;&nbsp;
               发布人/部门： <a th:text="${item.pubuser}"></a>
            </div>
        </div>

        <div th:replace="home/fragments/pagebar :: pageBar"></div>

    </div>
    <div th:replace="home/fragments/sidebar :: sidebar"></div>
</div>
<div class="return_top"><a class=" fa fa-arrow-up"></a></div>

</body>

</html>